* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: black;
  color: white;
  height: 300px;
}
.hamburguesa-image {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 20px;
  cursor: pointer;
}

.container-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.container-title h1 {
  font-size: 40px;
  font-weight: 400;
}

.container-title h3 {
  font-size: 15px;
  font-weight: 100;
}
.container-title h1,
h3 {
  padding-top: 20px;
}
.title-button {
  background-color: #626262;
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.seccion-one-image,
.seccion-two-image,
.seccion-three-image {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  margin-top: 15px;
}

.container-section {
  display: flex;
  background-color: #f2f3f8;
}

.container-section p {
  padding-top: 25px;
  max-width: 250px;
}

.section-one,
.section-two,
.section-three {
  /* border: solid 1px #626262; */
  margin: 5px;
  margin-top: 40px;
  height: 400px;
  width: 100%;
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 800px) {
  .container-section {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .section-one,
  .section-two {
    max-width: 350px;
    margin: 0 auto;
  }

  .section-three {
    max-width: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
  }
}

@media screen and (max-width: 700px) {
  .container-section {
    /* width: 100%; */
  }

  .section-one,
  .section-two,
  .section-three {
    max-width: 700px;
    padding: 40px;
  }
  .container-section p {
    max-width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .container-title h1 {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
  }

  .container-title h3 {
    max-width: 240px;
    margin: 0 auto;
  }
}
